<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.CouponDao">
    <!--<resultMap id="" type="">
        <result column="cid" property="cid"/>
        <result column="cname" property="cname"/>
        <result column="num" property="num"/>
        <result column="sum" property="sum"/>
        <result column="maxget" property="maxget"/>
        <result column="start" property="start"/>
        <result column="end" property="end"/>
        <result column="cinfo" property="cinfo"/>
        <result column="one" property="one"/>
        <result column="two" property="two"/>
        <result column="three" property="three"/>
    </resultMap>
    <select id="getAll" resultType="cn.pojo.Coupon">
        select cname from coupon where num=#{0}
    </select>-->



    <resultMap id="ucouponAndCoupon" type="Ucoupon">
        <result column="uid" property="uid"/>
        <result column="cid" property="cid"/>
        <result column="uname" property="uname"/>
        <result column="start" property="start"/>
        <result column="end" property="end"/>
        <result column="colo" property="colo"/>
        <result column="uclogo" property="uclogo"/>
        <result column="one" property="one"/>
        <result column="two" property="two"/>
        <result column="three" property="three"/>
        <association property="coupon" javaType="Coupon">
            <result column="cid" property="cid"/>
            <result column="cname" property="cname"/>
            <result column="num" property="num"/>
            <result column="sum" property="sum"/>
            <result column="maxget" property="maxget"/>
            <result column="start" property="start"/>
            <result column="end" property="end"/>
            <result column="cinfo" property="cinfo"/>
            <result column="one" property="one"/>
            <result column="two" property="two"/>
            <result column="three" property="three"/>
        </association>
    </resultMap>
    <select id="selAll" resultType="Coupon">
        SELECT coupon.cname,coupon.num FROM ucoupon, coupon WHERE ucoupon.cid = coupon.cid
    </select>
</mapper>