<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.CouponDao">

    <select id="selCouponInfo" resultType="cn.pojo.Coupon">
        select cname from coupon where num=0
    </select>

    <insert id="addUserUcoupon" parameterType="cn.pojo.Ucoupon">
        insert into ucoupon values (0,#{cid},#{uid},0,0,1,1,0,0,0)
    </insert>

    <update id="updUcoupon" parameterType="cn.pojo.Ucoupon">
        update ucoupon set uclogo=2 where cid=#{cid} and uid=#{uid}
    </update>

    <select id="selUserCoupon" parameterType="cn.pojo.Ucoupon" resultType="int">
        select cid from ucoupon where uid=#{uid}
    </select>

    <!-- 显示优惠券状态 -->
    <select id="selCoupon" parameterType="cn.pojo.Ucoupon" resultType="int">
        select uclogo from ucoupon where uid=#{uid}
    </select>


</mapper>